/* Changing default styles of browser */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4b4b4b;
  color: white;
  padding: 25px 60px;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
}

.cart {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px;
  font-size: 35px;
  border-radius: 4px;
}

#cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

.item {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
} 
.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: green;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.home-button,
.checkout,
.clear-cart {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.checkout {
  background-color: green;
}
.clear-cart {
  background-color: red;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 20px;
}

.cart-item {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
}

.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}
